In [1]:
import pandas as pd
import os
import joblib

In [4]:
#Rutas
data_path = "../data_sintetica/clientes_compras_train.csv"
modelo_svm_path = os.path.join("entrenamiento", "modelo_svm.pkl")
modelo_rf_path = os.path.join("entrenamiento", "modelo_rf.pkl")
output_path = "../resultado de modelos/predicciones_clientes.xlsx"

In [5]:
#carga la nueva data
df = pd.read_csv(data_path)
X_nuevo = df.drop(columns=["DNI", "compra_estacional"])

In [6]:
#cargar modelos entrenados
modelo_svm = joblib.load(modelo_svm_path)
modelo_rf = joblib.load(modelo_rf_path)

In [7]:
#generar predicciones
df["pred_svm"] = modelo_svm.predict(X_nuevo)
df["pred_rf"] = modelo_rf.predict(X_nuevo)

In [8]:
df

,DNI,sexo,edad,frecuencia_ultimos_3m,gasto_promedio,temporada,compra_estacional,pred_svm,pred_rf
0,75682867,F,52,0,225.27,fiestas,0,0,0
1,66755036,M,32,9,56.84,navidad,1,1,1
2,66882282,F,64,4,220.43,clases,0,0,0
3,31081788,F,39,9,274.53,navidad,1,1,1
4,23315092,M,31,1,70.31,navidad,0,0,0
...,...,...,...,...,...,...,...,...,...
495,57685442,F,51,5,223.98,navidad,1,1,1
496,44045504,F,29,2,237.41,navidad,1,1,1
497,92396202,M,62,1,203.73,clases,0,0,0
498,45610155,F,24,7,69.68,clases,1,1,1
499,39469068,M,27,4,172.61,clases,1,1,1

In [10]:
#guardar el resultado
df_resultado = df[["DNI", "sexo", "edad", "frecuencia_ultimos_3m", "gasto_promedio", "temporada", "pred_svm","pred_rf"]]
df_resultado.to_excel(output_path, index=False)

print(f"predicciones guardadas es: {output_path}")

predicciones guardadas es: ../resultado de modelos/predicciones_clientes.xlsx